[submodule "meta/dotbot"]
	path = meta/dotbot
	url = git@github.com:anishathalye/dotbot.git
	branch = master
[submodule "editors/nano"]
	path = editors/nano
	url = git@github.com:scopatz/nanorc.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm
